################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CulinaryRecipes/CulinaryRecipes/obj
/CulinaryRecipes/CulinaryRecipes.Application/obj
/CulinaryRecipes/CulinaryRecipes.Domain/obj
/CulinaryRecipes/CulinaryRecipes.Infrastructure/obj
/CulinaryRecipes/CulinaryRecipes.Tests/obj
/CulinaryRecipes/.vs
